@{
    ViewData["Title"] = "Category";
}
<main class="container main-category">
    <div style="text-align: center; margin: 20px;">
        <a class="logo-text" href="#">All Categories</a>
        <p style="color: #9F9F9F;">Recipes and Food</p>
    </div>
    <div class="row justify-content-center g-0">
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/category-beef.jpg" alt="Beef" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Beef</div>
                </div>
            </a>
        </div>
        <div class=" col-3 category-banner">
            <a href="">
                <img src="/images/category-basic.jpg" alt="Basic" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Basic</div>
                </div>
            </a>

        </div>
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/category-easy.jpg" alt="Vegan Salad" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Easy</div>
                </div>
            </a>

        </div>
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/category-pork.jpg" alt="Vegan Salad" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Pork</div>
                </div>
            </a>

        </div>
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/catetogy-vege.jpg" alt="Vegan Salad" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Vegan</div>
                </div>
            </a>
        </div>
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/category-chicken.png" alt="Vegan Salad" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <div class="title">Chicken</div>
                </div>
            </a>

        </div>
        <div class="col-3 category-banner">
            <a href="">
                <img src="/images/category-seafood.jpg" alt="Vegan Salad" />
                <div class="content">
                    <div class="count">4 posts</div>
                    <!-- <div class="label">Browsing category</div> -->
                    <div class="title">Seafood</div>
                </div>
            </a>
        </div>
    </div>
</main>
