﻿@{
    ViewData["Title"] = "Posts";
}
<main class="container">
    <div style="text-align: center; margin: 20px;">
        <a class="logo-text" href="#">All Posts</a>
        <p style="color: #9F9F9F;">Recipes and Food</p>
    </div>
    <div class="container">
        <div class="card-grid">
            <!-- Card 1 Lấy này làm mẫu để copy-->
            <div class="card">
                <div class="card-img-wrapper">
                    <div class="time-icon">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <a href="#">
                        <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                             class="img-fluid">
                    </a>
                </div>
                <div class="card-content">
                    <div class="tags">
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Easy</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Vegetables</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Pork</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Seafood</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Chicken</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Beef</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Basic</span></a>
                    </div>
                    <a href="#">
                        <h3>Spicy Serrano Pineapple Margarita.</h3>
                    </a>
                    <div class="meta">June 7, 2021 — 53 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese
                        sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-wrapper">
                    <div class="time-icon">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <a href="#">
                        <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                             class="img-fluid">
                    </a>
                </div>
                <div class="card-content">
                    <div class="tags">
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Easy</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Vegetables</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Pork</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Seafood</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Chicken</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Beef</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Basic</span></a>
                    </div>
                    <a href="#">
                        <h3>Spicy Serrano Pineapple Margarita.</h3>
                    </a>
                    <div class="meta">June 7, 2021 — 53 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese
                        sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-wrapper">
                    <div class="time-icon">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <a href="#">
                        <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                             class="img-fluid">
                    </a>
                </div>
                <div class="card-content">
                    <div class="tags">
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Easy</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Vegetables</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Pork</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Seafood</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Chicken</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Beef</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Basic</span></a>
                    </div>
                    <a href="#">
                        <h3>Spicy Serrano Pineapple Margarita.</h3>
                    </a>
                    <div class="meta">June 7, 2021 — 53 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese
                        sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>
            <!-- Card 1 Lấy này làm mẫu để copy-->
        </div>
    </div>
</main>