﻿@{
    ViewData["Title"] = "Post Detail";
}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card post-recipe-card mx-auto">
                <div class="recipe-img-wrapper">
                    <div class="time-icon">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                         class="img-fluid" alt="Recipe image">
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                    <div class="post-tag">
                        <a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Beef</div></a>
                        <a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Chicken</div></a>
                    </div>

                </div>
                <div class="card-body">
                    <h2 class="fw-bold">Beet and Burrata Salad with Fried Bread</h2>
                    <p>
                        These small but sophisticated blender cakes are not only eye-catching, but full of bright
                        flavor.
                    </p>
                    <!-- <p>The rosemary syrup glaze is a must to complete the flavor profile.</p> -->

                    <div class="post-recipe-icons-row">
                        <div class="post-recipe-icon">
                            <i class="icon fas fa-utensils"></i>
                            <div class="post-recipe-icon-details">
                                <div class="post-recipe-icon-title">Prep time</div>
                                <div class="post-recipe-icon-value">15 min</div>
                            </div>
                        </div>
                        <div class="post-recipe-icon">
                            <i class="icon fa-regular fa-clock"></i>
                            <div class="post-recipe-icon-details">
                                <div class="post-recipe-icon-title">Cooking time</div>
                                <div class="post-recipe-icon-value">15 min</div>
                            </div>
                        </div>
                        <div class="post-recipe-icon">
                            <i class="icon fa-regular fa-square-check"></i>
                            <div class="post-recipe-icon-details">
                                <div class="post-recipe-icon-title">Total time</div>
                                <div class="post-recipe-icon-value">15 min</div>
                            </div>
                        </div>
                    </div>

                    <div class="container my-4">
                        <h2 class="fw-bold mb-4">Ingredients</h2>
                        <ul class="list-group">
                            <li class="list-group-item d-flex align-items-center ingredient-item">
                                <i class="checkIcon fa-regular fa-square-check"></i>
                                <div class="ingredient-text">1 loaf ciabatta bread</div>
                            </li>
                            <li class="list-group-item d-flex align-items-center ingredient-item">
                                <i class="checkIcon fa-regular fa-square-check"></i>
                                <div class="ingredient-text"> 1 tablespoon extra virgin olive oil</div>
                            </li>
                            <li class="list-group-item d-flex align-items-center ingredient-item">
                                <i class="checkIcon fa-regular fa-square-check"></i>
                                <div class="ingredient-text">
                                    2 tablespoons everything bagel spice
                                    (optional)
                                </div>
                            </li>
                            <!-- Add more ingredients here -->
                        </ul>
                    </div>


                    <!--  -->
                    <div class="container mt-4">
                        <h2 class="fw-bold mb-4">Directions</h2>

                        <div class="instruction-item-post d-flex">
                            <div class="step-number">1</div>
                            <div class="drection-steps">
                                <div class="instruction-title-post">Step 1</div>
                                <div class="description">
                                    Gather all ingredients. Preheat oven to 400 degrees F (200 degrees C)
                                </div>
                                <img src="https://www.allrecipes.com/thmb/vebt8UFPylJeGYXKfUMQr-F-CtQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8778487-Warm-Broccoli-Caesar-Salad-ddmfs-step-01-015-68837265bc684113b9f319ead642024c.jpg"
                                     alt="">
                            </div>
                        </div>

                        <div class="instruction-item-post d-flex">
                            <div class="step-number">2</div>
                            <div class="drection-steps">
                                <div class="instruction-title-post">Step 2</div>
                                <div class="description">
                                    Remove the top 1/3 of the bread and then pull out some of the insides to create
                                    space for the eggs,
                                    being careful not to remove all of the bread, you want a thick layer of bread
                                    for your boat. Rub the inside
                                    of the bread with olive oil and everything bagel spice or salt and pepper. Bake
                                    for 8–10 minutes or until the bread is toasted.
                                </div>
                                <img src="https://www.allrecipes.com/thmb/SgCLpNuKpO_M2tW4joTL-Z-iJPA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8778487-Warm-Broccoli-Caesar-Salad-ddmfs-step-2-024-4b2f61f04ff846e9b84fa8e713eb2ccc.jpg"
                                     alt="">
                            </div>
                        </div>

                        <div class="instruction-item-post d-flex">
                            <div class="step-number">3</div>
                            <div class="drection-steps">
                                <div class="instruction-title-post">Step 3</div>
                                <div class="description">
                                    Meanwhile, whisk together the eggs, milk, and a pinch each of salt, pepper, and
                                    red pepper flakes.
                                    Stir in the chives, spinach, and havarti.
                                </div>
                                <img src="https://www.allrecipes.com/thmb/cON8r7gKL533TrXIHTNim3hxrZo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8778487-Warm-Broccoli-Caesar-Salad-ddmfs-step-3-018-9b2acd05eed944a1a1723d06bd94d9cb.jpg"
                                     alt="">
                            </div>
                        </div>

                        <div class="instruction-item-post d-flex">
                            <div class="step-number">4</div>
                            <div class="drection-steps">
                                <div class="instruction-title-post">Step 5</div>
                                <div class="description">
                                    Sprinkle the bottom of the bread with 1/2 cup cheddar, then drizzle over the
                                    pesto. Slowly pour in the eggs,
                                    allow the mix to sink into the boat. Top with the remaining cheddar. Bake 30–35
                                    minutes, until just set in the center.
                                </div>
                                <img src="https://www.allrecipes.com/thmb/HgAQ4wad4Nd4liWmWngelIVzNMg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8778487-Warm-Broccoli-Caesar-Salad-ddmfs-step-4-020-6eb4966a8f644d45bfe2a6d79f6b53a1.jpg"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="post-about">
                <div class="author-img">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/author-img.png"
                         alt="">
                </div>
                <h4 class="fw-bold mb-4" style="font-family: 'Lato';">Hi! I'm Hoang Vy</h4>
                <p>
                    I create simple, delicious recipes that require 10 ingredients or less, one bowl, or 30
                    minutes
                    or
                    less
                    to prepare.
                </p>
                <button class="btn-contact">About</button>
            </div>

            <div class="footer-section footer-categories" style="margin-top:30px">
                <div class="section-title">Categories</div>
                <div class="item">
                    <img src="/images/category-beef300x300.jpg" />
                    <a href="#"><div class="label beef"><i class="fa-solid fa-tag"></i> Beef</div></a>

                    <div class="posts">4 Posts</div>
                </div>

                <div class="item">
                    <img src="/images/category-basic300x300.jpg" />
                    <a href="#"><div class="label basic"><i class="fa-solid fa-tag"></i> Basic</div></a>

                    <div class="posts">4 Posts</div>
                </div>
                <div class="item">
                    <img src="/images/category-easy300x300.jpg" />
                    <a href="#"><div class="label easy"><i class="fa-solid fa-tag"></i> Easy</div></a>

                    <div class="posts">6 Posts</div>
                </div>
                <div class="item">
                    <img src="/images/category-pork300x300.jpg" />
                    <a href="#"><div class="label pork"><i class="fa-solid fa-tag"></i> Pork</div></a>

                    <div class="posts">6 Posts</div>
                </div>

                <div class="item">
                    <img src="/images/category-chicken300x300.png" />
                    <a href="#"><div class="label chicken"><i class="fa-solid fa-tag"></i> Chicken</div></a>

                    <div class="posts">4 Posts</div>
                </div>
                <div class="item">
                    <img src="/images/category-seafood300x300.jpg" />
                    <a href="#"><div class="label seafood"><i class="fa-solid fa-tag"></i> Seafood</div></a>

                    <div class="posts">6 Posts</div>
                </div>
                <div class="item">
                    <img src="/images/category-vege300x300.jpg" />
                    <a href="#"><div class="label vegetables"><i class="fa-solid fa-tag"></i> Vegetables</div></a>

                    <div class="posts">6 Posts</div>
                </div>
            </div>
        </div>
    </div>
</div>