@{
    ViewData["Title"] = "Home";
}

<section class="carousel-slider">
    <div id="carouselExampleAutoplaying" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/06/image-from-rawpixel-id-3249132-jpeg-555x360.jpg"
                     class="d-block w-100" alt="...">
                <!-- <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/qggc_1a6xgc-1140x694.jpg"
                        class="d-block w-100" alt="..."> -->
            </div>
            <div class="carousel-item">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/06/image-from-rawpixel-id-3249132-jpeg-1140x694.jpg"
                     class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<main>
    <!-- chạy chạy -->
    <div class="slider-wrapper">
        <div class="slider-track">
            <!-- Original Slides -->
            <div class="slide">
                <a href="#"><img src="/images/category-easy300x300.jpg" alt="Easy"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Easy</div></a>                
            </div>
			<div class="slide">
				<a href="#"><img src="/images/category-vege300x300.jpg" alt="Vegan"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Vegetables </div></a>
                
            </div>
            <div class="slide">
				<a href="#"><img src="/images/category-beef300x300.jpg" alt="Beef"></a>
				<a href="#"><div class="tag1"><i class="fa-solid fa-tag"></i> Beef</div></a>    
            </div>
            <div class="slide">
				<a href="#"><img src="/images/category-chicken300x300.png" alt="Chicken"></a>
				<a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Chicken</div></a>
            </div>
            <div class="slide">
				<a href="#"><img src="/images/category-pork300x300.jpg" alt="Pork"></a>
				<a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Pork</div></a>
            </div>
            <div class="slide">
				<a href="#"><img src="/images/category-seafood300x300.jpg" alt="Seafood"></a>
				<a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Seafood</div></a>
            </div>
            <!-- Duplicate Slides for seamless loop -->
            <div class="slide">
                <a href="#">
                    <img src="/images/category-easy300x300.jpg" alt="Easy">
                </a>
                <a href="#">
                    <div class="tag1 "><i class="fa-solid fa-tag"></i> Easy</div>
                </a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/category-vege300x300.jpg" alt="Vegan"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Vegetables</div></a>

            </div>
            <div class="slide">
                <a href="#"><img src="/images/category-beef300x300.jpg" alt="Beef"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Beef</div></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/category-chicken300x300.png" alt="Chicken"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Chicken</div></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/category-pork300x300.jpg" alt="Pork"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Pork</div></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/images/category-seafood300x300.jpg" alt="Seafood"></a>
                <a href="#"><div class="tag1 "><i class="fa-solid fa-tag"></i> Seafood</div></a>
            </div>
        </div>
    </div>

    <div class="line">
        <img src="/images/line.png" class="img-fluid">
    </div>

    <!-- giới thiệu -->
    <div class="section">
        <div class="image-container">
            <!-- <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/uu8snutrppq-1024x1536.jpg" -->
            <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/w6ftfbpcs9i.jpg"
                 alt="Recipes" class="img-fluid">
            <a href="">
                <div class="label-card">
                    <small>NEW</small>
                    <h3>Recipes</h3>
                </div>
            </a>
        </div>
        <div class="text-content">
            <h2>Easy healthy Recipes for <br>Busy home Cooks</h2>
            <p>
                I’m a former 4th grade teacher, now full time blogger. My husband Bjork and I live in Minnesota.
                Favorite things include my camera, lake days, and dark chocolate.
            </p>
            <a class="btn" asp-area="" asp-controller="Home" asp-action="Privacy">ABOUT BLOG</a>          
        </div>
    </div>

    <!-- Recipes -->
    <div class="container ">
        <div class="container-title" style="text-align: center; margin-bottom: 40px;">
            <h3><span> <img src="/images/short-line.png"></span> Recipes<span> <img src="/images/short-line.png"></span> </h3>
        </div>
        <!-- </div>
        <div class="container"> -->
        <div class="card-grid">
            <!-- Card 1 Lấy này làm mẫu để copy-->
            <div class="card">
                <div class="card-img-wrapper">
                    <div class="time-icon">
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                    </div>
					<a href="#">
						<img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
							 class="img-fluid">
					</a>
                </div>
                <div class="card-content">
                    <div class="tags">
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Easy</span></a>
                        <a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Vegetables</span></a>
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Pork</span></a>
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Seafood</span></a>
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Chicken</span></a>
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Beef</span></a>
						<a href="#"><span class="tag "><i class="fa-solid fa-tag"></i> Basic</span></a>                        
                    </div>
					<a href="#"><h3>Spicy Serrano Pineapple Margarita.</h3></a>                    
                    <div class="meta">June 7, 2021 — 53 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>
            <!-- Card 1 Lấy này làm mẫu để copy-->

            <div class="card">
                <div class="time-icon">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/vacetk0zhnm-1140x694.jpg"
                     alt="Oatmeal Cookie" />
                <div class="card-content">
                    <div class="tags">
                        <span class="tag "><i class="fa-solid fa-tag"></i> Beef</span>
                    </div>
                    <h3>Homemade Oatmeal Chocolate Chip Cookie</h3>
                    <div class="meta">May 30, 2021 — 75 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="time-icon">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/2f4czizek9o-1140x694.jpg"
                     alt="Popcorn Chicken" />
                <div class="card-content">
                    <div class="tags">
                        <span class="tag "><i class="fa-solid fa-tag"></i> Basic</span>
                    </div>
                    <h3>Taiwanese Popcorn Chicken</h3>
                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="time-icon">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/2f4czizek9o-1140x694.jpg"
                     alt="Popcorn Chicken" />
                <div class="card-content">
                    <div class="tags">
                        <span class="tag "><i class="fa-solid fa-tag"></i> CHICKEN</span>
                    </div>
                    <h3>Taiwanese Popcorn Chicken</h3>
                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-img-wrapper">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/cqh5qqjffka-1140x694.jpg"
                         alt="Spicy Serrano">
                    <div class="rating">7.8</div>
                </div>
                <div class="card-content">
                    <div class="tags">
                        <span class="tag "><i class="fa-solid fa-tag"></i> EASY</span>
                        <span class="tag "><i class="fa-solid fa-tag"></i> Vegetables</span>
                    </div>
                    <h3>Spicy Serrano Pineapple Margarita.</h3>
                    <div class="meta">June 7, 2021 — 53 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>

            <div class="card">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/vacetk0zhnm-1140x694.jpg"
                     alt="Oatmeal Cookie" />
                <div class="card-content">
                    <div class="tags">
                        <span class="tag "><i class="fa-solid fa-tag"></i> EASY</span>
                    </div>
                    <h3>Homemade Oatmeal Chocolate Chip Cookie</h3>
                    <div class="meta">May 30, 2021 — 75 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese sauce,
                        an
                        egg,
                        and some diced ham....
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Most popular -->   
    <div class="line">
        <img src="/images/line.png" class="img-fluid">
    </div>
    <div class="container">
        <!-- <div class=" recipe-wrapper">
            <div class="recipe-image">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/xlp1r4omxlw-1140x694.jpg"
                    alt="Breakfast">
            </div>
            <div class="recipe-content">
                <h2>Most Popular Recipes This Week</h2>
                <p>Want to cook?</p>
                <div class="tag">VEGAN</div>
                <div class="recipe-title">Homemade cake and veggie salad recipe idea</div>
                <div class="meta">June 1, 2021 — 32 min Cook</div>
            </div>
        </div> -->

        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators" style="bottom: 30px;">
                <button style="border-radius: 50%; width: 10px; height: 10px; background-color: #f4a261;"
                        type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button style="border-radius: 50%; width: 10px; height: 10px; background-color: #f4a261;"
                        type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button style="border-radius: 50%; width: 10px; height: 10px;background-color: #f4a261; "
                        type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button style="border-radius: 50%; width: 10px; height: 10px; background-color: #f4a261;"
                        type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                <button style="border-radius: 50%; width: 10px; height: 10px; background-color: #f4a261;"
                        type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="recipe-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="recipe-image">
                                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/xlp1r4omxlw-1140x694.jpg"
                                         alt=" Breakfast">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="recipe-content">
                                    <h2>Most Popular Recipes This Week 1111</h2>
                                    <p>Want to cook?</p>
									<a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Vegetables</div></a>
                                    
                                    <div class="recipe-title">Homemade cake and veggie salad recipe idea</div>
                                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="recipe-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="recipe-image">
                                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/2f4czizek9o-1140x694.jpg"
                                         alt=" Breakfast">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="recipe-content">
                                    <h2>Most Popular Recipes This Week 222222222222</h2>
                                    <p>Want to cook?</p>
									<a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Vegetables</div></a>
                                    
                                    <div class="recipe-title">Homemade cake and veggie salad recipe idea</div>
                                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="recipe-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="recipe-image">
                                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/2f4czizek9o-1140x694.jpg"
                                         alt=" Breakfast">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="recipe-content">
                                    <h2>Most Popular Recipes This Week 3333</h2>
                                    <p>Want to cook?</p>
									<a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Vegetables</div></a>
                                    
                                    <div class="recipe-title">Homemade cake and veggie salad recipe idea</div>
                                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="background-color: #f4a261; width: 50px; height: 50px; border-radius: 50%; margin: auto; margin-bottom: auto;"
                    class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="prev">
                <span style="color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span style="color: yellow;" class="visually-hidden">Previous</span>
            </button>
            <button style="background-color: #f4a261; width: 50px; height: 50px; border-radius: 50%; margin: auto; margin-bottom: auto;"
                    class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container ">
        <div class="container-title" style="text-align: center; margin-bottom: 40px;">
            <h3>
                <span> <img src="/images/short-line.png"></span> Fresh and spicy<span> <img src="/images/short-line.png"></span>
            </h3>
        </div>

        <div class="blog-section">
            <!-- Mẫu Cứng -->
            <div class="main-post">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/2f4czizek9o-1140x694.jpg"
                     alt="Main Dish" />
                <div class="main-content">
					<a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Chicken</div></a>
                    
                    <h2>Taiwanese Popcorn Chicken</h2>
                    <div class="meta">June 1, 2021 — 32 min Cook</div>
                    <p>
                        Then we are layering the puff pastry with a quick schmear of creamy Swiss-ified cheese
                        sauce,
                        an egg, and some diced ham...
                    </p>
                </div>
            </div>

            <!-- Mẫu để loof -->
            <div class="side-posts">
                <div class="post-item">
                    @* <div class="time-icon"> *@
                    @*     <a href=""><i class="fa-solid fa-heart"></i></a> *@
                    @* </div> *@
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/pz55dcwjycq-683x1024.jpg"
                         alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Beef</div>
                        <h4>Broccoli Slaw slow cooking Recipe</h4>
                        <div class="meta">June 7, 2021 — 16 min Cook</div>
                    </div>
                </div>

                <div class="post-item">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/uu8snutrppq-683x1024.jpg"
                         alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Easy</div>
                        <h4>Homemade Oatmeal Chocolate Chip Cookie</h4>
                        <div class="meta">May 30, 2021 — 75 min Cook</div>
                    </div>
                </div>
                <div class="post-item">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/uu8snutrppq-683x1024.jpg"
                         alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Easy</div>
                        <h4>Homemade Oatmeal Chocolate Chip Cookie</h4>
                        <div class="meta">May 30, 2021 — 75 min Cook</div>
                    </div>
                </div>
                <div class="post-item">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/uu8snutrppq-683x1024.jpg"
                         alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Easy</div>
                        <h4>Homemade Oatmeal Chocolate Chip Cookie</h4>
                        <div class="meta">May 30, 2021 — 75 min Cook</div>
                    </div>
                </div>

                <div class="post-item">
                    <img src="https://images.unsplash.com/photo-1627308595229-7830a5c91f9f" alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Chicken</div>
                        <h4>Sheet Pan Cheesy Poblano Corn Enchiladas.</h4>
                        <div class="meta">Sponsored — 50 min Cook</div>
                    </div>
                </div>

                <div class="post-item">
                    <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/kg3-r406j6o-683x1024.jpg"
                         alt="">
                    <div class="post-info">
                        <div class="tag "><i class="fa-solid fa-tag"></i> Vegetables</div>
                        <h4>The Best Sesame Soy Broccoli Salad</h4>
                        <div class="meta">May 14, 2021 — 55 min Cook</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vegan/Vegetarian Recipes -->
    <div class="recipe-section">
        <h2 class="recipe-section-title">
            <span> <img src="/images/short-line.png"></span> Vegan/Vegetarian Recipes<span>
                <img src="/images/short-line.png">
            </span>
        </h2>
        <p class="recipe-subtitle">So yummy!</p>
    </div>

    <div class="recipe-list">
        <!-- Recipe 1 -->
        <div class="recipe-card"
             style="background-image: url('https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/xsfx3aqldko-1140x694.jpg');">
            <div class="time-icon">
                <a href=""><i class="fa-solid fa-heart"></i></a>
            </div>
             <div class="recipe-content2">
                <div class="tag "><i class="fa-solid fa-tag"></i> Chicken</div>
                <h3 class="recipe-title2">Sheet Pan Cheesy Poblano Corn Enchiladas.</h3>
                <p class="recipe-meta">Sponsored <i>—</i> 50 min Cook</p>
            </div>
        </div>

        <!-- Recipe 2 -->
        <div class="recipe-card"
             style="background-image: url('https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/06/image-from-rawpixel-id-3249132-jpeg.jpg');">
            <div class="time-icon">
                <a href=""><i class="fa-solid fa-heart"></i></a>
            </div>
             <div class="recipe-content2">
                <div class="tag "><i class="fa-solid fa-tag"></i> Basic</div>
                <h3 class="recipe-title2">3-Ingredient Garlic-Herb Grilled Chicken Wings</h3>
                <p class="recipe-meta">Sponsored <i>—</i> 41 min Cook</p>
            </div>
        </div>
    </div>

    <!--  Super easy -->
    <div class="recipe-section">
        <h2 class="recipe-section-title">
            <span> <img src="/images/short-line.png"></span> Super easy<span>
                <img src="/images/short-line.png">
            </span>
        </h2>
        <p class="recipe-subtitle">Just in 20 minutes!</p>
    </div>
    <div class="container">
        <div class="easy-grid">
            <div class="easy-card">
                <div class="time-icon">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <a href="#">
					<img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/07/qggc_1a6xgc-1140x694.jpg"
						 alt="Broccoli Slaw">
                </a>
                
                <div class="easy-overlay">
                    <a href="#"><div class="tag "><i class="fa-solid fa-tag"></i> Vegetables</div></a>
					<a href="#"><div class="easy-title">Broccoli Slaw slow cooking Recipe</div></a>
                    
                    <div class="easy-meta">
                        <span>June 7, 2021</span>
                        <span>🕒 16 min Cook</span>
                    </div>
                </div>
            </div>

            <div class="easy-card">
                <img src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092" alt="Fish Sauce">
                <div class="easy-overlay">
                    <div class="tag "><i class="fa-solid fa-tag"></i> Basic</div>
                    <div class="easy-title">The Ultimate Guide to Fish Sauce</div>
                    <div class="easy-meta">
                        <span>May 13, 2021</span>
                        <span>🕒 55 min Cook</span>
                    </div>
                </div>
            </div>

            <div class="easy-card">
                <img src="https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/image-from-rawpixel-id-2741190-jpeg-1140x694.jpg"
                     alt="Chicken Wings">
                <div class="easy-overlay">
                    <div class="tag "><i class="fa-solid fa-tag"></i> Chicken</div>
                    <div class="easy-title">Taiwanese Popcorn Chicken</div>
                    <div class="easy-meta">
                        <span>May 13, 2021</span>
                        <span>🕒 20 min Cook</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
