<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodBlog</title>
    <link rel="stylesheet" href="~/css/styleAdmin.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@    
    @* <link rel="stylesheet" href="~/FoodBlog.styles.css" asp-append-version="true" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
            integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-lg-2 logo">
                <img src="~/images/logo1.png" alt="">
            </div>
            <div class="col-lg-8 search">
                <h3>Welcome to my chanel</h3>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-lg-2">
                <section class="sidebar">
                    <h4>GENERAL</h4>
                    <div class="menu-item">
                        <p><i class="fa-regular fa-file-lines"></i> Post Management</p>
                    </div>
                    <div class="menu-item">
                        <p><i class="fa-regular fa-folder"></i> Category Management</p>
                    </div>
                    <div class="menu-item">
                        <p><i class="fa-regular fa-user"></i> User Management</p>
                    </div>
                    <div class="menu-item">
                        <p><i class="fa-regular fa-circle-check"></i> Role Management</p>
                    </div>
                </section>
            </div>

            <div class="col-lg-10 main" style="background-color: #f6f4f3;">
                @RenderBody()
            </div>

        </div>
    </main>

    
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
</body>
</html>
